<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New User</title>
	<nav>
	<a href="/wiki">Home</a>
	<a href="/article/new">Create New Article</a>
	</nav>
	<h1>Wikifoodies: New User Setup</h1>
</head>
<body>
	<h2>Profile:</h2>
	<form method="POST" action="/users">
		<label>Name:</label>
		<input type="text" name="name" placeholder="Firstname Lastname" required></br>
		<label>Email:</label>
		<input type="text" name="email" placeholder="name@email.com" required></br>
		<label>Location:</label>
		<input type="text" name="location" placeholder="New York, NY"></br></br>

	<button>Submit</button>
	</form>
</body>
</html>