<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"  type="text/css" href="/style.css" >
	<title>New User</title>
	<nav>
	<a href="/wiki">Home</a>
	<a href="/article/new">Create New Article</a>
	</nav>
	<h1>Wikifoodies: New User Setup</h1>
</head>
<body>
	<h2>Profile:</h2>
	<form method="POST" action="/users">
		<label>Name</label><br>
		<input type="text" name="name" placeholder="Enter Firstname Lastname" required><br><br>
		<label>Email</label><br>
		<input type="text" name="email" placeholder="Enter Email" required><br><br>
		<label>Location (Optional)</label><br>
		<input type="text" name="location" placeholder="New York, NY"><br><br>

	<button>Submit</button>
	</form>
</body>
</html>